services:
  - type: web
    name: florence-transcribe-backend
    runtime: node
    rootDir: ./backend
    buildCommand: npm install && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000

